In [1]:
import pandas as pd
import random
import os

# Load the CSV file into a DataFrame
df = pd.read_csv("Resume.csv")

# Select 4 random rows
random_rows = df.sample(n=50)

# Create a folder named TrainDocs_1 if it doesn't exist
folder_name = "TrainDocs_1"
os.makedirs(folder_name, exist_ok=True)

# Iterate over the selected rows and save each 'Resume_txt' to a unique text file
for index, row in random_rows.iterrows():
    resume_text = row['Resume_str']
    filename = os.path.join(folder_name, f"resume_{index}_d1.txt")
    with open(filename, 'w', encoding='utf-8') as file:
        file.write(resume_text)
    print(f"Saved {filename}")

Saved TrainDocs_1/resume_1201_d1.txt
Saved TrainDocs_1/resume_604_d1.txt
Saved TrainDocs_1/resume_106_d1.txt
Saved TrainDocs_1/resume_2462_d1.txt
Saved TrainDocs_1/resume_2372_d1.txt
Saved TrainDocs_1/resume_340_d1.txt
Saved TrainDocs_1/resume_1003_d1.txt
Saved TrainDocs_1/resume_2357_d1.txt
Saved TrainDocs_1/resume_2038_d1.txt
Saved TrainDocs_1/resume_377_d1.txt
Saved TrainDocs_1/resume_1076_d1.txt
Saved TrainDocs_1/resume_951_d1.txt
Saved TrainDocs_1/resume_2017_d1.txt
Saved TrainDocs_1/resume_1386_d1.txt
Saved TrainDocs_1/resume_2318_d1.txt
Saved TrainDocs_1/resume_92_d1.txt
Saved TrainDocs_1/resume_1087_d1.txt
Saved TrainDocs_1/resume_1953_d1.txt
Saved TrainDocs_1/resume_2127_d1.txt
Saved TrainDocs_1/resume_1705_d1.txt
Saved TrainDocs_1/resume_1888_d1.txt
Saved TrainDocs_1/resume_2191_d1.txt
Saved TrainDocs_1/resume_1632_d1.txt
Saved TrainDocs_1/resume_46_d1.txt
Saved TrainDocs_1/resume_2138_d1.txt
Saved TrainDocs_1/resume_2435_d1.txt
Saved TrainDocs_1/resume_1189_d1.txt
Saved TrainDocs_1/resume_955_d1.txt
Saved TrainDocs_1/resume_871_d1.txt
Saved TrainDocs_1/resume_4_d1.txt
Saved TrainDocs_1/resume_885_d1.txt
Saved TrainDocs_1/resume_650_d1.txt
Saved TrainDocs_1/resume_2297_d1.txt
Saved TrainDocs_1/resume_1477_d1.txt
Saved TrainDocs_1/resume_45_d1.txt
Saved TrainDocs_1/resume_1818_d1.txt
Saved TrainDocs_1/resume_1636_d1.txt
Saved TrainDocs_1/resume_2121_d1.txt
Saved TrainDocs_1/resume_2440_d1.txt
Saved TrainDocs_1/resume_698_d1.txt
Saved TrainDocs_1/resume_1177_d1.txt
Saved TrainDocs_1/resume_706_d1.txt
Saved TrainDocs_1/resume_251_d1.txt
Saved TrainDocs_1/resume_2483_d1.txt
Saved TrainDocs_1/resume_1245_d1.txt
Saved TrainDocs_1/resume_510_d1.txt
Saved TrainDocs_1/resume_1366_d1.txt
Saved TrainDocs_1/resume_2161_d1.txt
Saved TrainDocs_1/resume_1967_d1.txt
Saved TrainDocs_1/resume_2315_d1.txt

In [2]:
df.columns

Index(['ID', 'Resume_str', 'Resume_html', 'Category'], dtype='object')

In [3]:
df2 = pd.read_csv("final_merged_dataset2.csv")

In [11]:
df2.head()

                                              Resume          Category
0  Python Developer Python Developer Philadelphia...  Python_Developer
1  Python Developer Python Developer Python Devel...  Python_Developer
2  R&D Engineer R&D Engineer R&D Engineer - Nokia...  Python_Developer
3  Sr. Full Stack Developer Sr. Full Stack Develo...  Python_Developer
4  Sr. Full Stack Python Developer Sr. Full Stack...  Python_Developer

In [4]:
# Select 4 random rows
random_rows = df2.sample(n=50)

# Create a folder named TrainDocs_1 if it doesn't exist
folder_name = "TrainDocs_1"
os.makedirs(folder_name, exist_ok=True)

# Iterate over the selected rows and save each 'Resume_txt' to a unique text file
for index, row in random_rows.iterrows():
    resume_text = row['Resume']
    filename = os.path.join(folder_name, f"resume_{index}_d2.txt")
    with open(filename, 'w', encoding='utf-8') as file:
        file.write(resume_text)
    print(f"Saved {filename}")

Saved TrainDocs_1/resume_3587_d2.txt
Saved TrainDocs_1/resume_8076_d2.txt
Saved TrainDocs_1/resume_4689_d2.txt
Saved TrainDocs_1/resume_5210_d2.txt
Saved TrainDocs_1/resume_7712_d2.txt
Saved TrainDocs_1/resume_7381_d2.txt
Saved TrainDocs_1/resume_4794_d2.txt
Saved TrainDocs_1/resume_4663_d2.txt
Saved TrainDocs_1/resume_1997_d2.txt
Saved TrainDocs_1/resume_6120_d2.txt
Saved TrainDocs_1/resume_7228_d2.txt
Saved TrainDocs_1/resume_2867_d2.txt
Saved TrainDocs_1/resume_1943_d2.txt
Saved TrainDocs_1/resume_1767_d2.txt
Saved TrainDocs_1/resume_725_d2.txt
Saved TrainDocs_1/resume_2999_d2.txt
Saved TrainDocs_1/resume_8205_d2.txt
Saved TrainDocs_1/resume_5076_d2.txt
Saved TrainDocs_1/resume_6056_d2.txt
Saved TrainDocs_1/resume_2966_d2.txt
Saved TrainDocs_1/resume_4962_d2.txt
Saved TrainDocs_1/resume_7649_d2.txt
Saved TrainDocs_1/resume_4544_d2.txt
Saved TrainDocs_1/resume_1117_d2.txt
Saved TrainDocs_1/resume_7611_d2.txt
Saved TrainDocs_1/resume_2802_d2.txt
Saved TrainDocs_1/resume_3977_d2.txt
Saved TrainDocs_1/resume_1558_d2.txt
Saved TrainDocs_1/resume_6508_d2.txt
Saved TrainDocs_1/resume_6192_d2.txt
Saved TrainDocs_1/resume_5853_d2.txt
Saved TrainDocs_1/resume_667_d2.txt
Saved TrainDocs_1/resume_752_d2.txt
Saved TrainDocs_1/resume_2697_d2.txt
Saved TrainDocs_1/resume_2842_d2.txt
Saved TrainDocs_1/resume_4482_d2.txt
Saved TrainDocs_1/resume_4525_d2.txt
Saved TrainDocs_1/resume_216_d2.txt
Saved TrainDocs_1/resume_2238_d2.txt
Saved TrainDocs_1/resume_7761_d2.txt
Saved TrainDocs_1/resume_7484_d2.txt
Saved TrainDocs_1/resume_2411_d2.txt
Saved TrainDocs_1/resume_6176_d2.txt
Saved TrainDocs_1/resume_6942_d2.txt
Saved TrainDocs_1/resume_7566_d2.txt
Saved TrainDocs_1/resume_3695_d2.txt
Saved TrainDocs_1/resume_7813_d2.txt
Saved TrainDocs_1/resume_5083_d2.txt
Saved TrainDocs_1/resume_3198_d2.txt
Saved TrainDocs_1/resume_3497_d2.txt

In [7]:
import os

def extract_id_from_filename(filename):
    # Extract ID number from the filename
    return filename.split("_")[1]

def categorize_ids(folder_path):
    d1_ids = []
    d2_ids = []
    d1_file_names = []
    
    # Check if the provided path is a directory
    if not os.path.isdir(folder_path):
        print(f"{folder_path} is not a valid directory.")
        return d1_ids, d2_ids
    
    # Get a list of all files in the directory
    files = os.listdir(folder_path)
    
    # Categorize IDs based on file names
    for file_name in files:
        if file_name.endswith("_d1.txt"):
            d1_file_names.append(file_name)
            d1_ids.append(extract_id_from_filename(file_name))
        elif file_name.endswith("_d2.txt"):
            d2_ids.append(extract_id_from_filename(file_name))
    print(d1_file_names)
    
    return d1_ids, d2_ids

# Example usage
folder_path = "./TrainDocs_1"
d1_ids, d2_ids = categorize_ids(folder_path)

print("IDs in d1 files:", d1_ids)
print("IDs in d2 files:", d2_ids)

['resume_1003_d1.txt', 'resume_1009_d1.txt', 'resume_1054_d1.txt', 'resume_1062_d1.txt', 'resume_106_d1.txt', 'resume_1076_d1.txt', 'resume_1087_d1.txt', 'resume_1177_d1.txt', 'resume_1180_d1.txt', 'resume_1189_d1.txt', 'resume_1201_d1.txt', 'resume_120_d1.txt', 'resume_1222_d1.txt', 'resume_1245_d1.txt', 'resume_1366_d1.txt', 'resume_1386_d1.txt', 'resume_1464_d1.txt', 'resume_1477_d1.txt', 'resume_1632_d1.txt', 'resume_1636_d1.txt', 'resume_1640_d1.txt', 'resume_1705_d1.txt', 'resume_1775_d1.txt', 'resume_1791_d1.txt', 'resume_1818_d1.txt', 'resume_1829_d1.txt', 'resume_1884_d1.txt', 'resume_1888_d1.txt', 'resume_188_d1.txt', 'resume_1953_d1.txt', 'resume_1967_d1.txt', 'resume_1974_d1.txt', 'resume_1995_d1.txt', 'resume_2017_d1.txt', 'resume_2038_d1.txt', 'resume_2065_d1.txt', 'resume_2084_d1.txt', 'resume_2088_d1.txt', 'resume_2113_d1.txt', 'resume_2121_d1.txt', 'resume_2127_d1.txt', 'resume_2138_d1.txt', 'resume_2146_d1.txt', 'resume_2161_d1.txt', 'resume_2191_d1.txt', 'resume_2248_d1.txt', 'resume_2256_d1.txt', 'resume_2294_d1.txt', 'resume_2297_d1.txt', 'resume_2315_d1.txt', 'resume_2318_d1.txt', 'resume_2347_d1.txt', 'resume_2353_d1.txt', 'resume_2357_d1.txt', 'resume_2372_d1.txt', 'resume_2419_d1.txt', 'resume_2426_d1.txt', 'resume_2435_d1.txt', 'resume_2440_d1.txt', 'resume_244_d1.txt', 'resume_2462_d1.txt', 'resume_2483_d1.txt', 'resume_251_d1.txt', 'resume_291_d1.txt', 'resume_310_d1.txt', 'resume_340_d1.txt', 'resume_342_d1.txt', 'resume_343_d1.txt', 'resume_377_d1.txt', 'resume_45_d1.txt', 'resume_46_d1.txt', 'resume_4_d1.txt', 'resume_501_d1.txt', 'resume_510_d1.txt', 'resume_531_d1.txt', 'resume_53_d1.txt', 'resume_544_d1.txt', 'resume_557_d1.txt', 'resume_604_d1.txt', 'resume_650_d1.txt', 'resume_691_d1.txt', 'resume_698_d1.txt', 'resume_699_d1.txt', 'resume_706_d1.txt', 'resume_716_d1.txt', 'resume_736_d1.txt', 'resume_791_d1.txt', 'resume_792_d1.txt', 'resume_819_d1.txt', 'resume_83_d1.txt', 'resume_845_d1.txt', 'resume_864_d1.txt', 'resume_871_d1.txt', 'resume_885_d1.txt', 'resume_887_d1.txt', 'resume_92_d1.txt', 'resume_951_d1.txt', 'resume_955_d1.txt', 'resume_994_d1.txt']
IDs in d1 files: ['1003', '1009', '1054', '1062', '106', '1076', '1087', '1177', '1180', '1189', '1201', '120', '1222', '1245', '1366', '1386', '1464', '1477', '1632', '1636', '1640', '1705', '1775', '1791', '1818', '1829', '1884', '1888', '188', '1953', '1967', '1974', '1995', '2017', '2038', '2065', '2084', '2088', '2113', '2121', '2127', '2138', '2146', '2161', '2191', '2248', '2256', '2294', '2297', '2315', '2318', '2347', '2353', '2357', '2372', '2419', '2426', '2435', '2440', '244', '2462', '2483', '251', '291', '310', '340', '342', '343', '377', '45', '46', '4', '501', '510', '531', '53', '544', '557', '604', '650', '691', '698', '699', '706', '716', '736', '791', '792', '819', '83', '845', '864', '871', '885', '887', '92', '951', '955', '994']
IDs in d2 files: ['1117', '1128', '1390', '1539', '1558', '164', '1767', '1943', '1947', '1997', '2050', '216', '2198', '2238', '2411', '2573', '2692', '2697', '2802', '2842', '2867', '2966', '2999', '3050', '3144', '3198', '3317', '3497', '3587', '3609', '3695', '3802', '3948', '3977', '4021', '4250', '4285', '432', '4482', '4525', '4544', '4663', '4689', '4731', '4769', '4787', '4794', '4871', '4892', '4962', '5018', '5076', '5083', '50', '513', '5185', '5210', '5514', '5719', '5727', '5839', '5853', '6056', '6066', '6120', '6176', '6192', '6207', '6211', '6214', '6268', '627', '6300', '6304', '6508', '667', '6692', '6878', '6942', '6954', '7076', '7097', '7133', '7228', '725', '7381', '7435', '7459', '7484', '752', '7566', '7611', '7649', '7712', '7761', '7813', '7861', '8076', '8205', '8231']

In [12]:
import pandas as pd
import random
# Load the CSV file into a DataFrame
df = pd.read_csv("Resume.csv")


# Create a folder named TrainDocs_1 if it doesn't exist
folder_name = "TestDocs"
os.makedirs(folder_name, exist_ok=True)

# Iterate over the selected rows and save each 'Resume_txt' to a unique text file
for index, row in df.iterrows():
    if str(index) not in d1_ids:
        resume_text = row['Resume_str']
        filename = os.path.join(folder_name, f"resume_{index}_d1.txt")
        with open(filename, 'w', encoding='utf-8') as file:
            file.write(resume_text)
        if (index % 100 == 0):
            print("Printed: " + str(index))

Printed: 0
Printed: 100
Printed: 200
Printed: 300
Printed: 400
Printed: 500
Printed: 600
Printed: 700
Printed: 800
Printed: 900
Printed: 1000
Printed: 1100
Printed: 1200
Printed: 1300
Printed: 1400
Printed: 1500
Printed: 1600
Printed: 1700
Printed: 1800
Printed: 1900
Printed: 2000
Printed: 2100
Printed: 2200
Printed: 2300
Printed: 2400

In [14]:
df2 = pd.read_csv("final_merged_dataset2.csv")

In [16]:
# Create a folder named TrainDocs_1 if it doesn't exist
folder_name = "TestDocs"
os.makedirs(folder_name, exist_ok=True)

# Iterate over the selected rows and save each 'Resume_txt' to a unique text file
for index, row in df2.iterrows():
    if str(index) not in d2_ids:
        resume_text = row['Resume']
        filename = os.path.join(folder_name, f"resume_{index}_d2.txt")
        with open(filename, 'w', encoding='utf-8') as file:
            file.write(resume_text)
        if (index % 100 == 0):
            print("Printed: " + str(index))

Printed: 0
Printed: 100
Printed: 200
Printed: 300
Printed: 400
Printed: 500
Printed: 600
Printed: 700
Printed: 800
Printed: 900
Printed: 1000
Printed: 1100
Printed: 1200
Printed: 1300
Printed: 1400
Printed: 1500
Printed: 1600
Printed: 1700
Printed: 1800
Printed: 1900
Printed: 2000
Printed: 2100
Printed: 2200
Printed: 2300
Printed: 2400
Printed: 2500
Printed: 2600
Printed: 2700
Printed: 2800
Printed: 2900
Printed: 3000
Printed: 3100
Printed: 3200
Printed: 3300
Printed: 3400
Printed: 3500
Printed: 3600
Printed: 3700
Printed: 3800
Printed: 3900
Printed: 4000
Printed: 4100
Printed: 4200
Printed: 4300
Printed: 4400
Printed: 4500
Printed: 4600
Printed: 4700
Printed: 4800
Printed: 4900
Printed: 5000
Printed: 5100
Printed: 5200
Printed: 5300
Printed: 5400
Printed: 5500
Printed: 5600
Printed: 5700
Printed: 5800
Printed: 5900
Printed: 6000
Printed: 6100
Printed: 6200
Printed: 6400
Printed: 6500
Printed: 6600
Printed: 6700
Printed: 6800
Printed: 6900
Printed: 7000
Printed: 7100
Printed: 7200
Printed: 7300
Printed: 7400
Printed: 7500
Printed: 7600
Printed: 7700
Printed: 7800
Printed: 7900
Printed: 8000
Printed: 8100
Printed: 8200